!!!

%html
  %head
    %title Bathroom test
  %body
    %h2 The bathroom door is:
    %h1{id: "door_state"}= @state
    %script{type: "text/javascript", src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{type: "text/javascript", src: "/index.js"}
